<form (ngSubmit)="usuarioSave()" [formGroup]="form">
  <div mat-dialog-title class="flex justify-between">
    <h2 class="headline m-0 text-xl text-accent">
      <strong>Gestión de Usuario</strong>
    </h2>
    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
    >
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div fxLayout="row" fxLayoutGap="16px">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="form.get('username').hasError('required')">
          Campo Usuario es requerido.
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="16px">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="rol" (selectionChange)="listRoles()">
          <mat-option *ngFor="let item of rolList" [value]="item.id">
            {{ item.rol }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="16px">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="pass" />
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button
      color="purple"
      class="bg-accent text-accent-contrast"
      mat-button
      type="submit"
      [disabled]="!form.valid"
    >
      GUARDAR
    </button>
  </mat-dialog-actions>
</form>
