<form (ngSubmit)="RolSave()" [formGroup]="form">
  <div mat-dialog-title class="flex justify-between">
    <h2 class="headline m-0 text-xl text-accent">
      <strong>Gestión de Rol</strong>
    </h2>
    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
    >
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <div fxLayout="row" fxLayoutGap="16px">
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Rol</mat-label>
        <input matInput formControlName="rol" />
        <mat-error *ngIf="form.get('rol').hasError('required')">
          Campo Rol es requerido.
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="50">
        <span>Seleccione privilegios:</span>
        <div *ngFor="let item of rolList">
          <label>
            <input
              type="checkbox"
              value="{{ item.codigo }}"
              (change)="onChange($event)"
            />
            {{ item.descripcion }}
          </label>
        </div>
        <mat-error *ngIf="form.get('privilegios').errors?.required">
          Seleccione al menos un privilegio.
        </mat-error>
      </div>
      <div fxFlex="50"></div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCELAR</button>
    <button
      color="purple"
      class="bg-accent text-accent-contrast"
      mat-button
      type="submit"
      [disabled]="!form.valid"
    >
      GUARDAR
    </button>
  </mat-dialog-actions>
</form>
